* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

#main {
    position: relative;
    top: 64px;

}

/* Nav Bar */

header {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    border-bottom: 1px solid grey;
    position: fixed;
    z-index: 1;
    background-color: #F3F5F5;
    width: 100%;
}

header span {
    font-size: 32px;
}

ul {
    display: inline-flex;
}

li {
    list-style-type: none;
    padding: 0  16px;
}

a {
    text-decoration: none;
}

/* Banner section */

#banner {
    background-color: #D8D8D8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 32px 24px; /* Might change this to margin on another element? */
}

#banner img {
    max-width: 60%;
    height: auto;
}

#banner .text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
}

button {
    background-color: #4A4A4A;
    width: 100%;
    border: 1px solid #4A4A4A;
    color: #F3F5F5;
}

/* Articles section */

#articles {
    background-color: #F3F5F5;
}

#articles .container {
    display: flex;
    flex-direction: column;
    max-width: 40%;   
}

.information-main img {
    max-width: 60%;
}

/* Courses section */

#courses {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 32px 72px;
    background-color: #D8D8D8;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.description-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}

/* Outreach section */



/* Footer */



@media screen and (max-width: 700px) {
    .image-container {
        display: none;
    }
}