/* Universal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
    /* overflow-x: hidden; */
}

html,
body {
    font-family: 'Century Gothic', sans-serif;
    color: #4A4A4A;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    top: 64px;
}

h1,
h2 {
    font-family: 'Franklin Gothic', sans-serif;
    color: #4A4A4A;
}

h3 {
    font-family: 'Century Gothic', sans-serif;
    color: #4A4A4A;
}

p {
    font-family: 'Century Gothic', sans-serif;
    color: #4A4A4A;
}

.uppercase {
    text-transform: uppercase;
}

/* Nav Bar */

header {
    background-color: #FFF;
    padding: 16px 24px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    text-align: center;
    border: 1px solid blue;
}

li {
    list-style: none;
    padding-left: 1rem;
}

li a {
    text-decoration: none;
    color: #4A4A4A;
}

#logo {
    display: flex;
    align-items: center;
    height: 2rem;
    font-family: 'Trebuchet MS', sans-serif;
}

/* Banner section */

#banner {
    background-color: #D8D8D8;
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

#banner img {
    width: 60%;
    height: auto;
}

#banner .start-here {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 300px; */
    width: 40%;
}

.start-here h1 {
    font-size: 3.5rem;
}

.start-here h3 {
    margin: 1.5rem 0;
    font-size: 2rem;
}

button {
    color: #FFF;
    padding: 0.5rem;
    background-color: #4A4A4A;
    font-size: 1.5rem;
}

/* Articles section */

#articles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#articles .left {
    padding: 2rem 1.5rem;
    display: inline-flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}

.left img, 
video {
    width: 90%;
}

#articles .right {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.right.container {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.desc {
    width: 65%;
    height: auto;
}

.image-sq {
    width: 35%;
    height: auto;
    overflow: hidden;
}

.image-sq img {
    /* display: block; */
    max-height: 100%;
    width: auto;
}

/* Courses section */



/* Outreach section */



/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #4A4A4A;
    padding: 16px 24px 50px;
}

footer li {
    list-style-type: none;
}

footer p,
li {
    font-family: 'Century Gothic', sans-serif;
    color: #4A4A4A;
}

@media screen and (max-width: 700px) {
    #articles {
        padding: 1rem;
    }
    #articles div.container {
        width: 100%;
    }
}