
/* Nav Bar */

header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: inline-flex;
}

li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

/* Banner section */



/* Articles section */



/* Courses section */



/* Outreach section */



/* Footer */



@media only screen and (max-width: 520px) {

}